html,body{
	width: 100%;
	height: 100%;
	background-image: url(../image/background.png);
}
a{
	text-decoration: none;
}
*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.top{
	width: 100%;
	height: 178px;
	background-image: url(../image/background-top.png);
	background-repeat: no-repeat;
}
.top-center{
	width: 1000px;
	margin: 0 auto;
	height: 100%;
}
.top-font1{
	margin-left: 660px;
	float: left;
}
.guide{
	float: left;
	width: 200px;
	margin-left: 5px;
	background-color: #7e1f1b;
	line-height: 32px;
	text-align: center;
	color: #fff;
	font-size: 11px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.guide li{
	float: left;
	margin-left: 16px;
}
.top .logo{
	float: left;
	margin-top: 24px;
}
.top-p1{
	float: left;
	width: 300px;
	padding-left: 20px;
	margin-top: 55px;
	border-left: 1px solid #000;
	line-height: 25px;
	font-size: 18px;
}
.top-p1 span{
	color: #f90e04;
}
.phone{
	float: left;
	margin-left: 175px;
	margin-top: 60px;
	animation: hrl 1s linear infinite;
}
@keyframes hrl{
	0%{
		transform: rotateZ(0deg);
	}
	25%{
		transform: rotateZ(45deg);
	}
	50%{
		transform: rotateZ(0deg);
	}
	75%{
		transform: rotateZ(-45deg);
	}
	100%{
		transform: rotateZ(0deg);
	}
}
.phonenumber{
	float: left;
	margin-top: 62px;
	font-size: 14px;
}
.phonenumber span{
	color: #87352c;
	font-size: 18px;
}
.list{
	width: 100%;
	height: 46px;
	background-image: url(../image/daohangbeijing.png);
	background-position: -100px 0;
	line-height: 46px;
	text-align: center;
}
.list-center{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.list li{
	float: left;
	margin-left: 50px;
}
.list li:nth-child(1){
	margin-left: 5px;
}
.list-ul a{
	color: #fff;
	font-size: 13px;
}
.banner{
	width: 100%;
	height: 486px;
	background-repeat: no-repeat;
}
.banner img{
	width: 100%;
	height: 486px;
}
.search{
	width: 1000px;
	height: auto;
	margin: 5px auto;

}
.search-box{
	width: 355px;
	height: 28px;
	float: left;
	border: 1px solid #afaeae;
	background-color: #fff;
	float: left;
}
.search-box input{
	border: none;
	outline: none;
}
.search-box p{
	background-color: #5b0906;
	width: 67px;
	height: 100%;
	line-height: 27px;
	text-align: center;
	font-size: 12px;
	float: right;
	color: #fff;
}
.search-list li{
	float: left;
	font-size: 12px;
	margin-left: 10px;
	margin-top: 7px;
}
.product{
	width: 1000px;
	height: auto;
	margin: 50px auto;
}
.product-left{
	width: 210px;
	height: 100%;
	float: left;
	background-image: url(../image/product-top.png);
	background-repeat: no-repeat;
}
.product-left-top{
	width: 100%;
	height: 43px;
}
.product-left-top1{
	width: 43px;
	height: 100%;
	float: left;
	line-height: 43px;
	text-align: center;
	font-size: 35px;
	color: #fff;
}
.product-left-top2{
	width: 70px;
	height: 38px;
	float: left;
	font-size: 16px;
	color: #fff;
	margin-top: 10px;
	line-height: 15px;
}
.product-left-top2 span{
	font-size: 7px;
	margin-bottom: 5px;
}
.product-left-center{
	width: 198px;
	height: auto;
}
.product-left-center1{
	width: 176px;
	height: 35px;
	background-image: url(../image/border1.png);
	margin-top: 15px;
	margin-left: 15px;
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	color: #5b0906;
}
.product-left-center1-list li{
	line-height: 32px;
	font-size: 12px;
	margin-left: 30px;
}	
.product-left-center1-list img{
	margin-right: 5px;
	margin-bottom: 3px;
}
.product-left-center1-list1:hover .product-left-center1-list1-img{
	transform: rotateZ(90deg);
}
.product-left-center1-list1ul{
	display: none;
}
.product-left-center1-list1ul li{
	list-style: none;
}
.product-left-center1-list1:hover .product-left-center1-list1ul{
	display: block;
}
.product-right{
	width: 770px;
	height: 100%;
	float: left;
	margin-left: 20px;
}
.product-right-top{
	width: 100%;
	height: auto;
	border-bottom: 2px solid #5b0906;
	overflow: hidden;
}
.product-right-top-word{
	width: 123px;
	height: auto;
	border-bottom: 2px solid #5b0906;
	font-size: 15px;
	padding-bottom: 10px;
	float: left;
}
.product-right-top-more{
	float: right;
	margin-top: 5px;
}
.product-right-center{
	margin-top: 17px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product-right-center-content{
	width: 234px;
	height: auto;
}
.product-right-center-content img{
	height: 180px;
	width: 234px;
}
.product-right-center-content figcaption{
	font-size: 12px;
	margin: 24px 65px;
}
.cooperation{
	height: 364px;
	width:100%;
	background-image: url(../image/beijing1.png);
	background-position: 0 -35px;
	clear: both;
}
.cooperation-head{
	width: 215px;
	height: 67px;
	background-image: url(../image/beijing2.png);
	margin: 5px auto;
	color: #fff;
	text-align: center;
}
.cooperation-head h1{
	float: left;
	font-size: 50px;
	margin-left: 22px;
}
.cooperation-head big{
	margin-top: 15px;
	float: left;
	margin-left: 5px;
	font-size: 23px;
}
.cooperation-head small{
	float: left;
	margin-left: 5px;
}
.cooperation-list{
	margin: 18px auto;
	width: 1000px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.cooperation-list figure{
	width: 160px;
	height: auto;
	margin-top: 5px;
}
.case{
	width: 1000px;
	height: auto;
	margin: 15px auto;
}
.case-top{
	width: 1000px；
	height: 65px;
	border-bottom: 1px solid #6f1d1a;
	overflow: hidden;
}
.case-top-left{
	width: 168px;
	height: 100%;
	margin: 0px auto;
	color: #000;
	text-align: center;
	border-bottom: 3px solid #6f1d1a;
	float: left;
}
.case-top-left h1{
	float: left;
	font-size: 40px;
	margin-left: 22px;
	color: #6f1d1a;
}
.case-top-left big{
	margin-top: 15px;
	float: left;
	margin-left: 5px;
	font-size: 14px;
}
.case-top-left small{
	float: left;
	margin-left: 5px;
	font-size: 8px;
}
.case-top-more{
	float: right;
	margin-top: 25px;
}
.case-list{
	margin: 18px auto;
	width: 1000px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.case-list figure{
	width: 240px;
	height: auto;
	margin-bottom: 20px;
}
.case-list figcaption{
	line-height: 30px;
	text-align: center;
	font-size: 13px;
}
.case-center{
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #6f1d1a;
}
.case-center-left{
	width: 50px;
	height: 100%;
	border-bottom: 3px solid #6f1d1a;
	float: left;
}
.case-center-right{
	width: 50px;
	height: 100%;
	border-bottom: 3px solid #6f1d1a;
	float: right;
}
.case-bottom{
	width: 1000px;
	height: auto;
	margin-top: 10px;
}
.case-bottom img{
	float: left;
}
.case-bottom-question{
	float: left;
	margin-left: 22px;
	width: 500px;
	line-height: 53px;
	font-size: 30px;
	white-space: nowrap;
	color: #6f1d1a;
}
.case-bottom-question span{
	color: #fd0900;
}
.case-input{
	width: 485px;
	height: 122px;
	background-image: url(../image/beijing3.png);
	background-repeat: no-repeat;
	float: left;
	margin-left: 40px;
	margin-top: 5px;
	text-align: center;
	color: #fff;
}
.case-input input{
	background: transparent;
	margin: 15px;
}
.case-bottom-p1{
	width: 470px;
	float: left;
	line-height: 65px;
	margin-left: 65px;
	font-size: 20px;
}
.center-banner{
	background-image: url(../image/beijing4.png);
	background-repeat: no-repeat;
	background-position: -300px 0;
	width: 100%;
	height: 160px;
	clear: both;
}
.center-banner-p1{
	width: 100%;
	line-height: 65px;
	padding-top: 20px;
	font-size: 45px;
	color: #fff;
}
.center-banner-contain{
	width: 1000px;
	margin: 30px auto;
	height: 100%;
}
.center-banner-contain span{
	color: #fff001;
}
.center-banner-p2{
	width: 588px;
	line-height: 26px;
	float: left;
	color: #fff;
	font-size: 16px;
}
.center-banner-p3{
	float: left;
	width: 260px;
	height: 40px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #fff;
	line-height: 40px;
	font-size: 18px;
}
.advantage{
	width: 1000px;
	height: auto;
	margin: 5px auto;
	overflow: hidden;
}
.advantage-picture{
	width: 40%;
	height: auto;
	float: right;
	margin-top: 70px;
}
.advantage-picture1{
	margin-left: 30px;
}
.advantage-picture2{
	margin-left: -15px;
}
.advantage-picture3{
	transform: translateX(-60px);
	transform: translateY(-40px);
}
.advantage-picture4{
	transform: translateX(-20px);
}
.advantage-list{
/*	float: left;*/
	color: #454141;
	margin-top: 30px;
	overflow: hidden;
	width: auto;
}
.advantage-list1{
	width: 560px;
	height: auto;
	overflow: hidden;
	margin-bottom: 50px;
}
.advantage-list1 img{
	float: left;
}
.advantage-list1-header{
	float: left;
	width: 460px;
	margin-left: 23px;
	font-size: 20px;
	color: #910d08;
	line-height: 20px;
	padding-bottom: 10px;
	margin-top: 10px;
	border-bottom: 1px dashed #631411;
	margin-bottom: 10px;
}
.advantage-list1 span{
	color: #454141;
	font-size: 8px;
}
.advantage-list1-content{
	line-height: 30px;
	margin-left: 85px;
}
.advantage-list3{
	height: auto;
	width: 100%;
	color: #454141;
}
.advantage-list3-picture{
	float: left;
}
.advantage-list3-content{
	float: left;
	width: 500px;
	height: auto;
	margin-top: 60px;
}
.advantage-list3-content img{
	float: left;
}
.advantage-list3-header{
	float: left;
	width: 400px;
	margin-left: 23px;
	font-size: 20px;
	color: #910d08;
	line-height: 20px;
	padding-bottom: 10px;
	margin-top: 10px;
	border-bottom: 1px dashed #631411;
	margin-bottom: 10px;
}
.advantage-list3-header span{
	color: #454141;
	font-size: 8px;
}
.advantage-list3-foot{
	clear: both;
	width: 400px;
	height: auto;
	margin-left: 85px;
	line-height: 30px;
}
.advantage-list4{
	clear: both;
}
.advantage-picture-case6{
	float: right;
	margin-top: -450px;
}
.welcome{
	background-image: url(../image/banner4.png);
	width: 1000px;
	height: 140px;
	margin: 55px auto;
}
.welcome-p1{
	width: 260px;
	line-height: 60px;
	color: #ff0000;
	font-size: 25px;
	margin-left: 94px;
	text-shadow: 0px 0 6px #fff;
	float: left;
}
.welcome-p1 span{
	display: block;
	background-color: #831f1c;
	font-size: 20px;
	line-height: 42px;
	width: 160px;
	color: #fcfafa;
	text-shadow: none;
	text-align: center;
	margin-left: 30px;
}
.welcome-p2{
	width: 600px;
	line-height: 64px;
	color: #fff;
	font-size: 32px;
	margin-left: 30px;
	float: left;
}
.welcome-p2 span{
	display: block;
	font-size: 24px;
	line-height: 65px;
	width: 295px;
	color: #ffe401;
	text-align: center;
	margin-left: 255px;
	margin-top: -10px;
}
.coming{
	width: 1000px;
	height: auto;
	margin: 70px auto;
}
.coming-left{
	width: 710px;
	height: auto;
	float: left;
}
.coming-left header{
	width: 100%;
	line-height: 32px;
	border-bottom: 1px solid #5b0906;
	overflow: hidden;
}
.coming-left-article{
	width: 85px;
	line-height: 32px;
	border-bottom: 2px solid #5b0906;
	font-size: 16px;
	float: left;
	color: #5b0906;
}
.coming-left small{
	float: right;
}
.coming-left-picture{
	margin-top: 20px;
	float: left;
}
.coming-left h4{
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
.coming-left-content{
	line-height: 35px;
	width: 410px;
	text-indent: 26px;
	float: left;
	margin-left: 10px;
	font-size: 13px;
}
.coming-right{
	width: 285px;
	height: auto;
	float: left;
	margin-left: 
}
.coming-right header{
	width: 100%;
	line-height: 32px;
	border-bottom: 1px solid #5b0906;
	overflow: hidden;
	margin-left: 30px;
}
.coming-right small{
	float: right;
}
.coming-right img{
	float: left;
	margin-top: 10px;
}
.coming-yinying{
	margin-left: 3px;
}
.photo-background{
	width: 100%;
	height: 245px;
	margin-top: 50px;
	background-image: url(../image/beijing5.png);
	float: left;
	overflow: hidden;
	margin-bottom: 50px;
}
.photo{
	width: 1000px;
	height: auto;
	margin: 20px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.photo figcaption{
	margin-left: 80px;
}
.dynamic{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.dynamic-left{
	width: 320px;
	height: auto;
	float: left;
	overflow: hidden;
	margin-right: 30px;
}
.dynamic-left-header{
	width: 282px;
	line-height: 32px;
	border-bottom: 1px solid #5b0906;
	overflow: hidden;
}
.dynamic-left-header small{
	float: right;
	margin-top: 5px;
}
.dynamic-left-header p{
	width: 85px;
	line-height: 32px;
	border-bottom: 2px solid #5b0906;
	font-size: 16px;
	float: left;
	color: #5b0906;
	margin-top: 5px;
}
.dynamic-left-picture1{
	margin-top: 10px;
	float: left;
}
.dynamic-left ul{
	float: left;
	width: 230px;
}
.dynamic-left li{
	line-height: 32px;
	font-size: 12px;
}	
.dynamic-left-list img{
	margin-right: 5px;
	margin-bottom: 3px;
}
.dynamic-left li:hover .dynamic-left-list-img{
	transform: rotateZ(90deg);
}
.dynamic-left-list-ul{
	display: none;
}
.dynamic-left-list-ul li{
	list-style: none;
}
.dynamic-left li:hover .dynamic-left-list-ul{
	display: block;
	float: left;
	margin-left: 50px;
}
.dynamic-left-yinying{
	float: right;
	margin-top: -30px;
}
.dynamic-right{
	width: 300px;
	height: auto;
	float: right;
	overflow: hidden;
}
.dynamic-right-header{
	width: 282px;
	line-height: 32px;
	border-bottom: 1px solid #5b0906;
	overflow: hidden;
}
.dynamic-right-header small{
	float: right;
	margin-top: 5px;
}
.dynamic-right-header p{
	width: 85px;
	line-height: 32px;
	border-bottom: 2px solid #5b0906;
	font-size: 16px;
	float: left;
	color: #5b0906;
	margin-top: 5px;
}
.dynamic-right-question1{
	width: 100%;
	line-height: 30px;
	color: #5b0906;
	overflow: hidden;
}
.dynamic-right-question1 img{
	margin-top: 10px;
}
.dynamic-right-answer1{
	width: 100%;
	line-height: 26px;
	overflow: hidden;
	border-bottom: 1px dashed black;
	padding-bottom: 20px;
	padding-top: 15px;
	font-size: 12px;
}
.dynamic-right-answer2{
	width: 100%;
	line-height: 26px;
	overflow: hidden;
	padding-bottom: 20px;
	padding-top: 15px;
	font-size: 12px;
}
.link{
	width: 1000px;
	height: auto;
	margin: 0px auto;
	overflow: hidden;
	padding-top: 50px;
}
.link-header{
	width: 1000px;
	line-height: 32px;
	border-bottom: 1px solid #5b0906;
	overflow: hidden;
}
.link-header small{
	float: right;
	margin-top: 5px;
}
.link-header p{
	width: 85px;
	line-height: 32px;
	border-bottom: 2px solid #5b0906;
	font-size: 16px;
	float: left;
	color: #5b0906;
	margin-top: 5px;
}
.link li{
	width: 64px;
	line-height: 14px;
	font-size: 12px;
	float: left;
	border-right: 1px solid black;
	margin-top: 15px;
	margin-left: 10px;
}
.link ul{
	float: left;
}
.foot{
	background-image: url(../image/beijing6.png);
	width: 100%;
	height: 290px;
	background-position: -150px 0;
}